[submodule "src/tests/Unity"]
	path = src/tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "src/raylib"]
	path = src/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "src/debug/raygui"]
	path = src/debug/raygui
	url = https://github.com/raysan5/raygui.git
